{% load static %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <style>

        .top_navbar_space_reserve {
            width: 100%;
            height: 120px;
        }

        li {
            margin-left: 20px;
            margin-right: 20px;
        }

        img {
            aspect-ratio: 1 / 1 ;
        }

    </style>
    <title>Navbar</title>
</head>
<body>
    <!-- Make sure to include the navbar at the top of the body of the page that way the space
    reserve works properly -->
    <div class="top_navbar_space_reserve"></div>
    <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary container-fluid" data-bs-theme="dark">
        <div class="container-fluid">
            <img class="navbar_logo_icon" src="{% static 'Polymorphic Games Logo mini.png' %}" alt="Polymorphic Games Logo mini" width="80" height="80" >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/hello/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/hello/directory">Game Select</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/hello/statistics">Statistics</a>
                    </li>
                </ul>
            </div>
            {% if user.is_authenticated %}
                <div class="d-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Logged in: {{ user.username }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class=" btn btn-outline-danger btn-med" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="d-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>
</body>